@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Rupster";
  src: url("/_style/fonts/RupsterScriptFree/RupsterScriptFree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  cursor: default;
  font-family: "RobotoCondensed", sans-serif;
  background-image: url("/files/paper.png"); }

.container {
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  background-color: rgba(204, 204, 204, 0.2);
  min-width: 440px; }

.player-info {
  min-height: 100vh;
  padding: 15px; }
  .player-info img.avatar {
    max-width: 80%;
    margin-bottom: 30px; }
  .player-info h2 {
    font-family: "Rupster";
    text-align: center; }
  .player-info .tablescore {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .player-info .tablescore div {
      min-width: 45%;
      text-align: center;
      font-style: italic; }
      .player-info .tablescore div span {
        font-size: 1.2em;
        font-weight: bold;
        font-style: normal; }
      @media all and (max-width: 500px) {
        .player-info .tablescore div {
          font-size: 0.8em; } }
  .player-info .progress {
    background-color: #CDCDCD; }
    .player-info .progress .progress-bar {
      background-color: #99D3DF; }
    .player-info .progress > span {
      z-index: 999;
      position: absolute;
      color: #000;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 0.9em;
      line-height: 1.8em; }
      @media all and (max-width: 500px) {
        .player-info .progress > span {
          font-size: 0.8em;
          line-height: 1.7em; } }
  .player-info .menus {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap; }
    .player-info .menus .label {
      text-align: center;
      font-size: 1.2em;
      cursor: pointer; }
      @media all and (max-width: 500px) {
        .player-info .menus .label {
          font-size: 0.8em;
          line-height: 1.7em; } }
    .player-info .menus > div {
      margin: 10px; }
      @media all and (max-width: 500px) {
        .player-info .menus > div {
          margin: 5px; } }
      .player-info .menus > div .label {
        display: block; }
    .player-info .menus .tips .btn-group-sm, .player-info .menus .level-map-box .btn-group-sm {
      display: none;
      position: absolute;
      padding: 5px;
      border-radius: 15px;
      width: 100%;
      background-color: rgba(204, 204, 204, 0.7);
      flex-wrap: wrap;
      justify-content: center; }
      .player-info .menus .tips .btn-group-sm > .btn, .player-info .menus .level-map-box .btn-group-sm > .btn {
        margin: 5px; }
        .player-info .menus .tips .btn-group-sm > .btn:hover, .player-info .menus .level-map-box .btn-group-sm > .btn:hover {
          cursor: pointer; }
        .player-info .menus .tips .btn-group-sm > .btn.disabled:hover, .player-info .menus .level-map-box .btn-group-sm > .btn.disabled:hover {
          cursor: default; }
    .player-info .menus .tips:hover > .label, .player-info .menus .level-map-box:hover > .label {
      box-shadow: inset 2px 2px #808080; }
    .player-info .menus .tips:hover > .btn-group-sm {
      display: flex;
      right: 0; }
    .player-info .menus .level-map-box:hover > .btn-group-sm {
      display: flex;
      left: 0; }
    .player-info .menus .tips .btn {
      width: 20%;
      min-width: 40px;
      padding: 0; }
      .player-info .menus .tips .btn img {
        max-width: 80%; }

.gamefield {
  border-left: 2px solid #FFF;
  box-shadow: inset 5px 0 5px #CDCDCD;
  min-height: 100vh;
  background-color: rgba(204, 204, 204, 0.4);
  padding: 15px; }
  .gamefield .missions {
    display: flex;
    justify-content: center;
    margin-bottom: 15%; }
    .gamefield .missions img {
      width: 50px;
      height: 50px;
      margin: 10px; }
      @media all and (max-width: 500px) {
        .gamefield .missions img {
          width: 25px;
          height: 25px;
          margin: 5px; } }
  .gamefield #user-input-word {
    text-align: center;
    text-transform: uppercase;
    min-height: 2.5em;
    font-size: 2.5em;
    font-family: "Rupster"; }
    @media all and (max-width: 500px) {
      .gamefield #user-input-word {
        font-size: 1.5em;
        line-height: 25px;
        height: 25px; } }
  .gamefield #level-main-word {
    text-align: center; }
    .gamefield #level-main-word > span {
      user-select: none;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid gray;
      margin: 5px; }
      @media all and (max-width: 500px) {
        .gamefield #level-main-word > span {
          font-size: 1em;
          line-height: 25px;
          width: 25px;
          height: 25px; } }
    .gamefield #level-main-word > span.active {
      background-color: #2e6da4;
      color: #FFF; }
  .gamefield #user-found-words-box {
    padding: 15px; }
    .gamefield #user-found-words-box .found-word {
      text-transform: uppercase;
      padding: 5px;
      margin: 5px;
      border: 1px solid black;
      display: inline-block;
      border-radius: 5px; }
      @media all and (max-width: 500px) {
        .gamefield #user-found-words-box .found-word {
          font-size: 0.8em; } }

.rotate {
  animation-name: rotateLetters;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; }

@keyframes rotateLetters {
  from {
    transform: rotate3d(0, 1, 0, 0deg); }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
    font-weight: normal;
    background-color: inherit;
    color: black; } }
#loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8); }
  #loader img {
    display: block;
    width: 50px; }

.alreadyFound {
  animation-name: alreadyFound;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; }

@keyframes alreadyFound {
  from {
    background-color: #99D3DF;
    transform: scale(1.2, 1.2); }
  to {
    background-color: transparent;
    transform: none; } }

/*# sourceMappingURL=style.css.map */
