@import "../../_style/_config";

$OpenSans: 'OpenSans';
@include fontCreatorTTF($OpenSans-Bold, $OpenSans, normal, bold);
@include fontCreatorTTF($OpenSans-Regular, $OpenSans, normal, normal);
@include fontCreatorTTF($OpenSans-Italic, $OpenSans, italic, normal);
@include fontCreatorTTF($OpenSans-BoldItalic, $OpenSans, italic, bold);

$RobotoCondensed: 'RobotoCondensed';
@include fontCreatorTTF($RobotoCondensed-Bold, $RobotoCondensed, normal, bold);
@include fontCreatorTTF($RobotoCondensed-Regular, $RobotoCondensed, normal, normal);
@include fontCreatorTTF($RobotoCondensed-Italic, $RobotoCondensed, italic, normal);

$Rupster: 'Rupster';
@include fontCreatorTTF($RupsterFontTTF, $Rupster, normal, normal);

body{
  font-family: $bodyFont, sans-serif;
  background-color: $BodyBackgroundColor;

  .h1{
    font-family: $handwritingFont;
  }
}

.container{
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
}


.affix{
  top:20px;
  @media (min-width: 768px){
    width: 160px;
  }
  @media (max-width: 768px){
    width: 100px;
  }
}

.player-info {
  padding-top: 15px;


  .h2{
font-family: $handwritingFont;
  }

  .progress-bar{}
  .progress {
    background-color: $gray;
    .progress-bar{
      background-color: $iceBlue;
    }
    > span {
      z-index: 999;
      position: absolute;
      color: #000;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.game-catalog{
  border-left: 2px solid #FFF;
  box-shadow: inset 5px 0 5px $gray;
  min-height: 100vh;
  >.container-fluid {
    > .row {
      margin-bottom: 15px;
    }
    .game-search{
      margin: 30px auto;
    }
  }

  .btn-gameinfo-block{
    position: relative;
    ul{
      display: inline-block;
    }
    .btn-start{
      position: absolute;
      right: 15px;
      height: 40px;
      line-height: 25px;
    }
    @media (max-width: 680px) {
      .btn-start{
        position: static;
        width: 130px;
      }
      li{
        display: block;
        margin: 5px auto;
        width: 130px;
        text-align: center;
      }
    }
  }
}

