@import "../../_style/_config";

body{
  font-family: $bodyFont;
  @include gradient($lightGray, $gray, radial);
  color: $TextColor;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .panel-container{
    margin: auto;
    width: 45%;
    @media only screen and (max-width: 700px){
      width: 90%;
    }
  }
}

//---- Панель входа/регистрации. Общий вид
.panel {
  width: 100%;
  padding: 20px;
  background-color: $BodyBackgroundColor;
  border: 3px solid #FFF;
  box-shadow: 5px 5px 5px $HeadersColor;

}

//---- Управляющие кнопки

.nav-tabs>li.active>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 3px solid #FFF;
  margin-bottom: -3px;
  border-bottom: transparent;
  background-color: $BodyBackgroundColor;
  font-weight: bold;
  font-size: 1.2em;
}

#login-button{
  width: 30%;
  background-color: $btnColor;
  border-color: $btnBordersColor;
}

#register-button{
  width: 75%;
  background-color: $iceBlue;
  border-color: $waterBlue;
}


//---- Заголовок
h1{
  font-family: $handwritingFont;
  color: $HeadersColor;
  padding: 20px 0;
  text-align: center;
  font-size: 3em;
}

//----Панель входа/регистрации
.tab-content{
  padding-top: 30px;
  padding-bottom: 30px;

  form>div{
    padding-bottom: 30px;
  }

  .input-group, .btn{
    margin: auto;
    width: 75%;
        input{
      font-style: italic;
    }
  }
}

