@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("/_style/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_style/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Rupster";
  src: url("/_style/fonts/RupsterScriptFree/RupsterScriptFree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "RobotoCondensed", sans-serif;
  background: #E9E9E9;
  background: -moz-radial-gradient(center, ellipse cover, #E9E9E9 0%, #CDCDCD 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #E9E9E9), color-stop(100%, #CDCDCD));
  background: -webkit-radial-gradient(center, ellipse cover, #E9E9E9 0%, #CDCDCD 100%);
  background: -o-radial-gradient(center, ellipse cover, #E9E9E9 0%, #CDCDCD 100%);
  background: -ms-radial-gradient(center, ellipse cover, #E9E9E9 0%, #CDCDCD 100%);
  background: radial-gradient(ellipse at center, #E9E9E9 0%, #CDCDCD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
  color: #FFF; }

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .container .panel-container {
    margin: auto;
    width: 45%; }
    @media only screen and (max-width: 700px) {
      .container .panel-container {
        width: 90%; } }

.panel {
  width: 100%;
  padding: 20px;
  background-color: #E9E9E9;
  border: 3px solid #FFF;
  box-shadow: 5px 5px 5px #88BBD6; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 3px solid #FFF;
  margin-bottom: -3px;
  border-bottom: transparent;
  background-color: #E9E9E9;
  font-weight: bold;
  font-size: 1.2em; }

#login-button {
  width: 75%;
  background-color: #8DCC57;
  border-color: #82b443; }

#register-button {
  width: 75%;
  background-color: #99D3DF;
  border-color: #88BBD6; }

h1 {
  font-family: "Rupster";
  color: #88BBD6;
  padding: 20px 0;
  text-align: center;
  font-size: 3em; }

.tab-content {
  padding-top: 30px;
  padding-bottom: 30px; }
  .tab-content .form-group {
    margin: auto;
    padding-bottom: 30px;
    width: 75%; }
    .tab-content .form-group input {
      font-style: italic; }

/*# sourceMappingURL=style.css.map */
