@font-face {
  font-family: "OpenSans";
  src: url("/_app_files/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_app_files/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("/_app_files/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "OpenSans";
  src: url("/_app_files/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_app_files/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_app_files/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "RobotoCondensed";
  src: url("/_app_files/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Rupster";
  src: url("/_app_files/fonts/RupsterScriptFree/RupsterScriptFree.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "RobotoCondensed", sans-serif;
  background-image: url("/_app_files/images/background.png");
  color: #FFF; }

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .container .panel-container {
    margin: auto;
    width: 45%; }
    @media only screen and (max-width: 700px) {
      .container .panel-container {
        width: 90%; } }

.panel {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border: none;
  box-shadow: 5px 5px 5px #88BBD6;
  border-top-left-radius: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  font-size: 1.2em; }

#login-button {
  margin-top: 5px;
  width: 55%;
  background-color: #8DCC57;
  border-color: #82b443; }

#register-button {
  margin-top: 5px;
  width: 75%;
  background-color: #99D3DF;
  border-color: #88BBD6; }

h1 {
  font-family: "Rupster";
  color: #88BBD6;
  padding: 20px 0;
  text-align: center;
  font-size: 3em; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 30px; }
  .tab-content .form-group {
    margin: auto;
    width: 75%; }
    @media (max-width: 500px) {
      .tab-content .form-group {
        width: 100%; } }
    .tab-content .form-group input {
      font-style: italic; }
    .tab-content .form-group label {
      color: #555; }
    .tab-content .form-group .help-block {
      min-height: 20px;
      margin-bottom: 0; }

#about {
  background-color: rgba(100, 100, 100, 0.3);
  background: linear-gradient(-150deg, transparent 1.5em, rgba(100, 100, 100, 0.3) 0);
  padding: 10px;
  padding-top: 1.5em;
  position: relative;
  border-radius: .5em; }

#about::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1.73em;
  height: 3em;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.4)) 100% 0 no-repeat;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: .5em;
  box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=style.css.map */
