@charset "UTF-8";
@import "../../../_app_files/_includes/scss_config/_config.scss";

body{
  cursor: default;

  font-family: $bodyFont;
  background-image: url("/_app_files/images/background.png");
}

.container{
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  background-color: hsla(0,0,80%, 0.2);
  min-width: 440px;

  .tooltip {
    .tooltip-inner{
      background-color: $iceBlue;
      font-weight: bolder;
    }
    &.bottom .tooltip-arrow{
      border-bottom-color: $iceBlue;
    }

    &.top .tooltip-arrow{
      border-top-color: $iceBlue;
    }
  }

}

.player-info{
  min-height: 100vh;
  padding: 15px;


  img.avatar{
    max-width: 80%;
    margin-bottom: 30px;
  }

  h2{
    font-family: $handwritingFont;
    text-align: center;
  }

  .link-to-cabinet{
    text-align: center;
  }

  .tablescore{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div{
      min-width: 45%;
      text-align: center;
      font-style: italic;

      span{
        font-size: 1.2em;
        font-weight: bold;
        font-style: normal;
      }
      @media all and (max-width: 500px){
        font-size: 0.8em;
      }
    }
  }

  .progress {
    background-color: $gray;
    .progress-bar{
      background-color: $iceBlue;
    }
    > span {
      z-index: 999;
      position: absolute;
      color: #000;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 0.9em;
      line-height: 1.8em;
      @media all and (max-width: 500px){
        font-size: 0.8em;
        line-height: 1.7em;
      }
    }
  }

  .level-map-box, .tips{
    margin-bottom: 20px;
    .label{
      font-size: 1em;
      padding: 5px;
      display: block;
      margin: auto;
      text-align: center;
      cursor: pointer;
      @media all and (max-width: 500px){
        font-size: 0.8em;
        line-height: 1.7em;
      }
    }

    .btn-group-sm{
      display: none;
      position: absolute;
      padding: 5px;
      border-radius: 15px;
      width: 100%;
      background-color: hsla(0,0,80%, 0.9);
      z-index: 10000;
      flex-wrap: wrap;
      justify-content: center;

      >.btn{
        margin: 5px;
        &:hover{
          cursor: pointer;
        }
        &.disabled:hover{
          cursor: default;
        }
      }
    }

    &:hover{
      >.btn-group-sm{
        display: flex;
        left: 0;
      }

      >.label{
        box-shadow: inset 2px 2px #808080;
      }
    }

  }
}

.gamefield{
  border-left: 2px solid #FFF;
  box-shadow: inset 5px 0 5px $gray;
  min-height: 100vh;
  background-color: hsla(0,0,80%, 0.4);
  padding: 15px;


  #help-button{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    height: 45px;
    width: 45px;
    background-color: $waterBlue;
    border-radius: 5px;
    box-shadow: 2px 2px gray;

    .glyphicon{
      font-size: 35px;
      color: white;
    }
  }

  .missions{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;

    img{
      width: 35px;
      height: 35px;
      margin: 5px;
      @media all and (max-width: 500px){
        width: 25px;
        height: 25px;
        margin: 5px;
      }
    }
  }

  #user-input-word{
    text-align: center;
    text-transform: uppercase;
    min-height: 2.5em;
    font-size: 2.5em;
    font-family: $RobotoCondensed, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    @media all and (max-width: 500px){
      font-size: 1.5em;
      line-height: 25px;
      height: 25px;
    }
  }

  #user-input-controls-btn{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
    user-select: none;
    div{
      background-color: $iceBlue;
      color: white;
      padding: 5px;
      margin: 0 15px 15px 0;
      border-radius: 15px;
      border: 1px solid #4FBDDF;
      cursor: pointer;

      &:hover{
        background-color: $waterBlue;
      }

      &:active{
        box-shadow: inset 2px 2px gray;
      }
    }
  }

  #level-main-word{
    text-align: center;

    >span{
      user-select: none;
      box-shadow: 5px 5px 3px gray;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      font-size: 1.5em;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid gray;
      margin: 5px;
      @media all and (max-width: 500px){
        font-size: 1em;
        line-height: 25px;
        width: 25px;
        height: 25px;
      }
    }

    >span.active{
      background-color: #2e6da4;
      color: $TextColor;
      box-shadow: 1px 1px gray;
    }
  }

  #user-found-words-box{
    padding: 15px;
    .found-word{
      text-transform: uppercase;
      cursor: pointer;
      padding: 5px;
      margin: 5px;
      border: 1px solid black;
      display: inline-block;
      border-radius: 5px;
      @media all and (max-width: 500px){
        font-size: 0.8em;
      }
    }
  }
}

.rotate{
  animation-name: rotateLetters;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes rotateLetters {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
    font-weight: normal;
    background-color: inherit;
    color: black;
  }
}

#loader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0, 0.8);

  img{
    display: block;
    width: 50px;
  }
}

.alreadyFound{
  animation-name: alreadyFound;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes alreadyFound {
  from {
    background-color: $iceBlue;
    transform: scale(1.2,1.2);
  }
  to {
    background-color: transparent;
    transform: none;
  }
}
.found-words-subcontainer-label{
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}


#float-message{
  position: absolute;
  width: 58%;
  border-radius: 10em;
  left: 21%;
  top: 10vh;
  text-align: center;
}

#help{
  img{
    display: inline-block;
  }
  img+p{
    display: inline-block;
  }
}