@import "../../_app_files/_includes/scss_config/_config.scss";

body{
  font-family: $bodyFont;
  background-image: url("/_app_files/images/background.png");
  color: $TextColor;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .panel-container{
    margin: auto;
    width: 45%;
    @media only screen and (max-width: 700px){
      width: 90%;
    }
  }
}
#loader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0, 0.8);

  img{
    display: block;
    width: 50px;
  }
}

//---- Панель входа/регистрации. Общий вид

.panel {
  position: relative;
  width: 100%;
  padding: 20px;
  background: hsla(0,0%,100%,.3);
  overflow: hidden;
  border: none;
  box-shadow: 5px 5px 5px $HeadersColor;
  border-top-left-radius: 0;

}


//---- Управляющие кнопки

.nav-tabs>li.active>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: none;
  background: hsla(0,0%,100%,.3);
  font-weight: bold;
  font-size: 1.2em;
}

#login-button{
  margin-top: 5px;
  width: 55%;
  background-color: $btnColor;
  border-color: $btnBordersColor;
}

#register-button{
  margin-top: 5px;
  width: 75%;
  background-color: $iceBlue;
  border-color: $waterBlue;
}


//---- Заголовок
h1{
  font-family: $handwritingFont;
  color: $HeadersColor;
  padding: 20px 0;
  text-align: center;
  font-size: 3em;


}
span.version{
  display: block;
  float: right;
  font-family: $RobotoCondensed;
  font-style: italic;
  color: $HeadersColor;
}
//----Панель входа/регистрации
.tab-content{
  padding-top: 10px;
  padding-bottom: 30px;

  .form-group{
    margin: auto;
    width: 75%;

    @media (max-width:500px) {
      width: 100%;
    }
    input{
      font-style: italic;
    }

    label{
      color: #555;
    }

    .help-block{
      min-height: 20px;
      margin-bottom: 0;
    }
  }

}

#about{
  background-color: rgba(138,187,214,.6);
  background: linear-gradient(-150deg, transparent 1.5em, rgba(136,187,214,.6) 0);
  padding: 10px;
  padding-top: 1.5em;
  position: relative;
  border-radius: .5em;
  color: #555;
  text-align: justify;
  text-indent: 1em;
  font-size: 1.1em;
}

#about::before{
  content: '';
  position: absolute;
  top: 0; right: 0;
  width: 1.73em; height: 3em;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
  transform: translateY(-1.3em) rotate(-30deg);
  transform-origin: bottom right;
  border-bottom-left-radius: .5em;
  box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15)
}

.social-buttons {
  padding: 15px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  >*{
    margin: 5px;
  }
}

